.title{
    font-size: 3rem;
    text-align: center;
}

.container{
    width:100%;
    min-height: 100vh;
}

.panelContainer{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    margin: 2rem 8rem;
    /* grid space */
    grid-gap: 1rem;
}
.infoBox{
    grid-column: 1/4;
}

.meetingReminderContainer{
    grid-column: 4/12;
}

