.title{
    font-size: 3rem;
    text-align: center;
}

.container{
    width:100%;
    min-height: 100vh;
}

.panelContainer{
    margin: 0 auto;
    padding: 2rem 3rem;

    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-gap: 1rem;


    
    /* place-items: center; */
    /* justify-items: space-around; */
    /* align-items: center; */

    /* display: flex; */
    /* justify-content: center; */
}
.infoBox{
    grid-column: 1/4;
}

.meetingReminderContainer{
    grid-column: 4/13;
}

