.anim__slide-top{
    animation: slide-top 0.5s ease-in-out 0.2s both; 
}
@keyframes slide-top {
    0% {
      -webkit-transform: translateY(100px) scale(0.8);
              transform: translateY(100px) scale(0.8);
              
    }
    80% {
      -webkit-transform: translateY(0) scale(1.01);
              transform: translateY(0) scale(1.01);
              
    }
    100% {
      -webkit-transform: translateY(0) scale(1);
              transform: translateY(0) scale(1);
              
    }
  }
.anim__jumpIn{
    animation: jump-in 0.5s ease-in-out 0.2s both; 
}
@keyframes jump-in {
    0% {
      -webkit-transform:  scale(0.8);
              transform:  scale(0.8);
              
    }
    80% {
      -webkit-transform: scale(1.01);
              transform: scale(1.01);
              
    }
    100% {
      -webkit-transform:  scale(1);
              transform:  scale(1);
              
    }
  }