.meetingCard{
    width: 100%;
    background-color: var(--elements-secondary-color);
    border-radius: var(--borderRadius-normal);
    padding: var(--padding-m-elemnts);
    /* color: var(--color-darkBlue); */
    color : var(--color-black);
    margin: 0 0 20px 0;
     /* -webkit-animation: slide-top 0.5s ease-in-out both; */
	
   
}

.meetingCard__desc{
    background-color: var(--elements-tertiary-color);
    padding: var(--padding-s-elemnts) var(--padding-m-elemnts);
    border-radius: var(--borderRadius-normal);
    margin: 10px 0;
    

    
}

.meetingCard__desc__header{
    display: flex;
    justify-content: space-between;
}

.meetingCard__actionButtons{
    color: var(--elements-main-color);
}


.meetingCard__details
{
    width: 100%;
}
.meetingCard h3{
    display: flex;
    justify-content: space-between;
}
.meetingCard__startingIn{

    color: var(--color-darkBlue);
    /* color: var(--color-completed) */

}
/* @-webkit-keyframes slide-top {
    0% {
      -webkit-transform: translateY(100px) scale(0.8);
              transform: translateY(100px) scale(0.8);
              
    }
    100% {
      -webkit-transform: translateY(0) scale(1);
              transform: translateY(0) scale(1);
              
    }
  } */

  